build/embedded.ts
dist/
public/js/*
bundle/
flux-source/
fixtures/
.env
todo.md
.cursor/
.spec/
cli/cmd/__debug*
cli/next-*
cli/next
cli/pkg/server/public/
dist/
tofu-controller/
self-host/charts/*.tgz
kluctl
