image:
  repository: ghcr.io/gimlet-io/capacitor-next
  tag: agent-0.12.0-rc.4
  pullPolicy: IfNotPresent

replicaCount: 1

# Environment variables to configure all aspects of Capacitor Next Agent
env:
  # BACKEND_WS_URL: "wss://capacitor.example.com/agent/connect"
  # CLUSTER_ID: "production-cluster"

resources:
  requests:
    cpu: "50m"
    memory: "64Mi"
  limits:
    cpu: "200m"
    memory: "256Mi"

serviceAccount:
  create: true
  name: capacitor-next-agent

nodeSelector: {}

tolerations: []

affinity: {}

# Existing secret configuration
# If specified, both the chart environment variables from `env`
# and the existing secret are loaded. The existing secret is loaded last,
# allowing it to override values from the `env` value,
# if they share the same keys.
existingSecret:
  name: ""  # Name of the existing secret to use

# Security context configuration
securityContext:
  enabled: true
  pod:
    runAsNonRoot: true
    runAsUser: 1000
    seccompProfile:
      type: RuntimeDefault
  container:
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true
    capabilities:
      drop:
        - ALL
