image:
  repository: ghcr.io/gimlet-io/capacitor
  tag: v0.4.4
containerPort: 9000
probe:
  enabled: true
  path: /
resources:
  ignoreLimits: true
serviceAccount: capacitor

securityContext:
  runAsNonRoot: true
  runAsUser: 100
  runAsGroup: 101
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  capabilities:
    drop:
      - ALL
  seccompProfile:
    type: RuntimeDefault
