apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "capacitor-server.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "capacitor-server.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "capacitor-server.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "capacitor-server.selectorLabels" . | nindent 8 }}
        {{- if .Values.azureWorkloadIdentity.enabled }}
        azure.workload.identity/use: "true"
        {{- end }}
      annotations:
        checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
    spec:
      serviceAccountName: {{ include "capacitor-server.serviceAccountName" . }}
      containers:
        - name: capacitor-next
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          envFrom:
            - secretRef:
                name: {{ include "capacitor-server.fullname" . }}
          volumeMounts:
            - name: registry
              mountPath: /app/backend/registry.yaml
              subPath: registry.yaml
      volumes:
        - name: registry
          secret:
            secretName: {{ include "capacitor-server.fullname" . }}
            items:
              - key: registry.yaml
                path: registry.yaml
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}

