---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "capacitor-server.fullname" . }}-impersonator
  labels:
    {{- include "capacitor-server.labels" . | nindent 4 }}
rules:
  - apiGroups: [""]
    resources: ["users", "groups", "serviceaccounts"]
    verbs: ["impersonate"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "capacitor-server.fullname" . }}-impersonator-binding
  labels:
    {{- include "capacitor-server.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "capacitor-server.fullname" . }}-impersonator
subjects:
  - kind: ServiceAccount
    name: {{ include "capacitor-server.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
