apiVersion: v1
kind: Secret
metadata:
  name: {{ include "capacitor-server.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "capacitor-server.labels" . | nindent 4 }}
type: Opaque
stringData:
  LICENSE_KEY: {{ .Values.license.key | quote }}
  AUTH: {{ .Values.auth.method | quote }}
  {{- if eq .Values.auth.method "oidc" }}
  OIDC_ISSUER: {{ .Values.auth.oidc.issuer | quote }}
  OIDC_CLIENT_ID: {{ .Values.auth.oidc.clientId | quote }}
  OIDC_CLIENT_SECRET: {{ .Values.auth.oidc.clientSecret | quote }}
  OIDC_REDIRECT_URL: {{ .Values.auth.oidc.redirectUrl | quote }}
  {{- if .Values.auth.oidc.insecureSkipTlsVerify }}
  OIDC_INSECURE_SKIP_TLS_VERIFY: "true"
  {{- end }}
  {{- if .Values.auth.oidc.scopes }}
  OIDC_SCOPES: {{ .Values.auth.oidc.scopes | quote }}
  {{- end }}
  {{- if .Values.auth.oidc.groupsClaim }}
  OIDC_GROUPS_CLAIM: {{ .Values.auth.oidc.groupsClaim | quote }}
  {{- end }}
  {{- if .Values.auth.oidc.authorizedEmails }}
  AUTHORIZED_EMAILS: {{ .Values.auth.oidc.authorizedEmails | quote }}
  {{- end }}
  {{- if .Values.auth.oidc.entraIdFederatedTokenAuth }}
  ENTRA_ID_FEDEREATED_TOKEN_AUTH: "true"
  {{- end }}
  {{- else if eq .Values.auth.method "static" }}
  USERS: {{ .Values.auth.static.users | quote }}
  {{- end }}
  {{- if .Values.auth.oidc.debug }}
  OIDC_DEBUG: "true"
  {{- end }}
  {{- if .Values.authorization.impersonateSaRules }}
  IMPERSONATE_SA_RULES: {{ .Values.authorization.impersonateSaRules | quote }}
  {{- end }}
  {{- if .Values.session.hashKey }}
  SESSION_HASH_KEY: {{ .Values.session.hashKey | quote }}
  {{- end }}
  {{- if .Values.session.blockKey }}
  SESSION_BLOCK_KEY: {{ .Values.session.blockKey | quote }}
  {{- end }}
  registry.yaml: |
    clusters:
    {{- range .Values.clusters }}
      - id: {{ .id }}
        name: {{ .name }}
        {{- if .agent }}
        agent: true
        agentSecret: {{ .agentSecret | quote }}
        {{- else }}
        apiServerURL: {{ .apiServerURL }}
        {{- if .certificateAuthorityFile }}
        certificateAuthorityFile: {{ .certificateAuthorityFile }}
        {{- end }}
        {{- if .serviceAccount }}
        serviceAccount:
          {{- if .serviceAccount.tokenFile }}
          tokenFile: {{ .serviceAccount.tokenFile }}
          {{- end }}
        {{- end }}
        {{- end }}
    {{- end }}

