apiVersion: v1
kind: Secret
metadata:
  name: {{ include "capacitor-server.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "capacitor-server.labels" . | nindent 4 }}
type: Opaque
stringData:





  {{- else if eq .Values.auth.method "static" }}
  {{- if .Values.auth.static }}
  {{- if .Values.auth.static.users }}
  USERS: {{ .Values.auth.static.users | quote }}
  {{- end }}
  {{- end }}
  {{- end }}
  {{- if .Values.auth.debug }}
  OIDC_DEBUG: "true"
  {{- end }}
  {{- end }}
  {{- if .Values.authorization }}

  {{- end }}
  {{- if .Values.session }}

  {{- end }}
  {{- if .Values.systemViews }}
  SYSTEM_VIEWS: {{ .Values.systemViews | quote }}
  {{- end }}
  registry.yaml: |
    clusters:
    {{- range .Values.clusters }}
      - id: {{ .id }}
        name: {{ .name }}
        {{- if .agent }}
        agent: true
        agentSecret: {{ .agentSecret | quote }}
        {{- else }}
        apiServerURL: {{ .apiServerURL }}
        {{- if .certificateAuthorityFile }}
        certificateAuthorityFile: {{ .certificateAuthorityFile }}
        {{- end }}
        {{- if .serviceAccount }}
        serviceAccount:
          {{- if .serviceAccount.tokenFile }}
          tokenFile: {{ .serviceAccount.tokenFile }}
          {{- end }}
        {{- end }}
        {{- end }}
    {{- end }}
