apiVersion: v1
kind: Service
metadata:
  name: {{ include "capacitor-server.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "capacitor-server.labels" . | nindent 4 }}
    {{- with .Values.service.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
      name: http
  selector:
    {{- include "capacitor-server.selectorLabels" . | nindent 4 }}

