# Container image configuration
image:
  repository: ghcr.io/gimlet-io/capacitor-next
  tag: 0.12.0-rc.12
  pullPolicy: IfNotPresent

# Number of replicas
replicaCount: 1

# Environment variables to configure all aspects of Capacitor Next
env:
  # LICENSE_KEY: "message laszlo at gimlet.io"
  # SESSION_HASH_KEY: "base64:$(openssl rand -base64 32)"
  # SESSION_BLOCK_KEY: "base64:$(openssl rand -base64 32)"

  ##
  ## ClusterAdmin access without authentiaction
  ## For your home lab, local development or testing.
  ## Read the [Authorization](https://gimlet.io/capacitor-next/docs/#authorization) docs entry for more information.
  ##
  # AUTH: noauth
  # AUTH_DEBUG: "true" #logs impersonation headers
  # IMPERSONATE_SA_RULES: "noauth=flux-system:capacitor-next-preset-clusteradmin"
  
  ## OIDC Authentication
  ## With per-user defined RBAC.
  ## Read the [Authorization](https://gimlet.io/capacitor-next/docs/#authorization:per-user-rbac) docs entry for more information.
  ##
  # AUTH: oidc
  # AUTH_DEBUG: true #logs impersonation headers
  # OIDC_ISSUER: "https://your-oidc-provider.com"
  # OIDC_CLIENT_ID: "capacitor"
  # OIDC_CLIENT_SECRET: "your-client-secret"
  # OIDC_REDIRECT_URL: "https://capacitor.example.com/auth/callback"
  # AUTHORIZED_EMAILS: "*@yourcompany.com"

  ## Static User Authentication
  ## With mapping users to impersonate ServiceAccounts
  ## Read the [Authorization](https://gimlet.io/capacitor-next/docs/#authorization:serviceaccount-impersonation-for-static-authentication) docs entry for more information.
  ##
  #AUTH: static
  # AUTH_DEBUG: true #logs impersonation headers
  #USERS="laszlo@gimlet.io:$2y$12$CCou0vEKZOcJVsiYmsHH6.JD768WnUTHfudG/u5jWjNcAzgItdbgG,john@mycompany.com:$2y$12$CCou0vEKZOcJVsiYmsHH6.JD768WnUTHfudG/u5jWjNcAzgItdbgG]"
  #IMPERSONATE_SA_RULES=laszlo@gimlet.io=flux-system:capacitor-next-preset-clusteradmin,*@mycompany.com:flux-system:capacitor-next-preset-readonly

  # OIDC_INSECURE_SKIP_TLS_VERIFY: true
  # ENTRA_ID_FEDEREATED_TOKEN_AUTH=: true #if you use Azure Entra ID
  # OIDC_SCOPES: "openid,profile,email" #<--the default list. Include groups if needed. eg.: "openid,profile,email,groups"
  # OIDC_GROUPS_CLAIM: "groups" #<--default
  # OIDC_GROUP_PREFIX: "" # If your OIDC group names don't match exactly your RBAC role grant subjects, you add a prefix to the OIDC group name when setting the impersonation headers. Debug with AUTH_DEBUG: true
  # OIDC_GROUP_SUFFIX: "" # If your OIDC group names don't match exactly your RBAC role grant subjects, you add a suffix to the OIDC group name when setting the impersonation headers. Debug with AUTH_DEBUG: true

  ##
  ## FluxCD labels to display controller logs in the UI
  ##
  # FLUXCD_NAMESPACE: "flux-system"
  # FLUXCD_HELM_CONTROLLER_NAME: "helm-controller"
  # FLUXCD_HELM_CONTROLLER_LABEL_KEY: "app.kubernetes.io/component"
  # FLUXCD_HELM_CONTROLLER_LABEL_VALUE: "helm-controller"
  # FLUXCD_KUSTOMIZE_CONTROLLER_NAME: "kustomize-controller"
  # FLUXCD_KUSTOMIZE_CONTROLLER_LABEL_KEY: "app.kubernetes.io/component"
  # FLUXCD_KUSTOMIZE_CONTROLLER_LABEL_VALUE: "kustomize-controller"

  ## Configure the system views to help your team with these presets.
  ## Read https://gimlet.io/capacitor-next/docs/#filters-and-views for more information.
  # SYSTEM_VIEWS: |
  #   {
  #     "*": [
  #       {
  #           "id": "APIPods",
  #           "label": "API Pods",
  #           "filters": [
  #               { "name": "ResourceType", "value": "core/Pod" },
  #               { "name": "Namespace", "value": "production" }
  #           ]
  #       },
  #       {
  #           "id": "Kustomizations",
  #           "label": "Kustomizations",
  #           "filters": [
  #               { "name": "ResourceType", "value": "kustomize.toolkit.fluxcd.io/Kustomization" },
  #               { "name": "Namespace", "value": "all-namespaces" }
  #           ]
  #       },
  #       {
  #           "id": "HelmReleases",
  #           "label": "HelmReleases",
  #           "filters": [
  #               { "name": "ResourceType", "value": "helm.toolkit.fluxcd.io/HelmRelease" },
  #               { "name": "Namespace", "value": "all-namespaces" }
  #           ]
  #       }
  #     ]
  #   }

# Existing secret configuration
# If specified, both the chart environment variables from `env`
# and the existing secret are loaded. The existing secret is loaded last,
# allowing it to override values from the `env` value,
# if they share the same keys.
existingSecret:
  name: ""  # Name of the existing secret to use

podLabels: {}
podAnnotations: {}

service:
  type: ClusterIP
  port: 80
  targetPort: 8080
  labels: {}
  annotations: {}

configmapLabels: {}
configmapAnnotations: {}

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

livenessProbe:
  httpGet:
    path: /
    port: 8080
  initialDelaySeconds: 1
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /
    port: 8080
  initialDelaySeconds: 1
  periodSeconds: 10

serviceAccount:
  create: true
  name: capacitor-next

  labels: {}
  annotations: {}

ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # cert-manager.io/cluster-issuer: letsencrypt-prod
  hosts:
    - host: capacitor.example.com
      paths:
        - path: /
          pathType: Prefix
  tls: []
  #  - secretName: capacitor-tls
  #    hosts:
  #      - capacitor.example.com

nodeSelector: {}

tolerations: []

affinity: {}

extraVolumes: []
  # - name: config-volume
  #   configMap:
  #     name: special-config
  # - name: cache-volume
  #   emptyDir: {}
  # - name: data-volume
  #   persistentVolumeClaim:
  #     claimName: my-pvc

extraVolumeMounts: []
  # - name: config-volume
  #   mountPath: /etc/config
  #   readOnly: true
  # - name: cache-volume
  #   mountPath: /var/cache
  # - name: data-volume
  #   mountPath: /data

securityContext:
  enabled: true
  pod:
    runAsNonRoot: true
    runAsUser: 1000
    seccompProfile:
      type: RuntimeDefault
  container:
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true
    capabilities:
      drop:
        - ALL
